#layoutWrapper #topMenu {
  height: 70px;
}

#layoutWrapper button {
  display: flex;
  margin-left: 8px;
}
#layoutWrapper a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
